.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 22rem;
    height: 25rem;
    margin: 10px;
}

.card-text {
    overflow-y: auto;
}

.text {
    text-align: left;
}

.btn-right {
    float: right;
}

.btn-left {
    float: left;
}
.popup{
    width:90%
}